{% extends "../inc/music_base.html" %} {% block style %}
<link href="/static/assets/css/layout-question.css" rel="stylesheet" type="text/css" />
<link href="/static/admin/css/music/audio.css" rel="stylesheet" type="text/css" /> <link href="/static/admin/css/music/simpleplayer.css" rel="stylesheet" type="text/css" /> 


{% endblock %} {% block content %} {%set cate = category.id|get_cate()%}
<!--
PAGE HEADER

CLASSES:
.page-header-xs = 20px margins
.page-header-md = 50px margins
.page-header-lg = 80px margins
.page-header-xlg= 130px margins
.dark           = dark page header

.shadow-before-1    = shadow 1 header top
.shadow-after-1     = shadow 1 header bottom
.shadow-before-2    = shadow 2 header top
.shadow-after-2     = shadow 2 header bottom
.shadow-before-3    = shadow 3 header top
.shadow-after-3     = shadow 3 header bottom
-->
<section class="page-header dark page-header-xs">
    <div class="container">
        <h1>{{category.title}}</h1>
        <!-- breadcrumbs -->
        <ol class="breadcrumb f-14">
            <li><a href="/">首页</a></li>
            {%for val in breadcrumb %}
            <li><a href="{{val.url}}">{{val.title}}</a></li>
            {% endfor %}
        </ol>
        <!-- /breadcrumbs -->
        <!-- page tabs -->
        {%column data="cate",pid=category.pid%} {%if cate%}
        <ul class="page-header-tabs list-inline">
            <!--<li class="active"><a href="portfolio-masonry-3-columns.html">With Gutter</a></li>-->
            {%for val in cate%}
            <li {%if val.id== ategory.id %}class="active" {%endif%}><a href="{{val.url}}">{{val.name}}</a></li>
            {%endfor%}
        </ul>
        {%endif%}
        <!-- /page tabs -->
    </div>
</section>
<!-- -->
<section class="">
    <div class="container">
        <div class="row audio_bg">

            <!-- LEFT -->
            

            <div class="col-md-12 col-sm-12 ">
            <div class="audio-header">
                <h3 class="margin-t10">{{info.title}}</h3>
                <h3 style="font-size: 20px;" class="margin-t10">{{info.teacher}}</h3>
            </div>
            <div class="share_center">
                <div class="border margin-t15">
                    <div class="share_head" style="background-image:url('{{info.cover_id|get_pic("")}}');"></div>
                </div>
            </div>
            <div class="margin-t15">
                <div class="share_audio">
                    
                    <audio class="player" src='{%if info.videourl.length>10%}{{info.videourl}}{%else%}{%if info.video_id != 0%}//{{controller.setup.QINIU_DOMAIN_NAME}}/{{info.video_id|get_file("savename",false)}}{%else%}{{info.videourl}}{%endif%}{%endif%}'>
                    </audio>
                </div>
            </div>
            <div class="audio-footer">
                <p class="font20">美媒教育—随时随地也能学习</p>
                <!-- <button class="more">收听更多语音</button> -->
            </div>
        </div>
        
    </div>
    </div>
</section>

{% endblock %}
