{% extends "./inc/wechat_base.html" %} {% block content %}
<script src="/static/admin/js/udeitor/ueditor.parse.min.js"></script>
<style>
.active > .text {
    display: block !important;
}
</style>
<div id="customer_page">
    <div class="header_banner" style="background-image: url({{info.fmurl}});">
    </div>
    <div class="content">
        <h3 class="header_title">{{info.title}}</h3>
        <p class="simplify_introduction">{{desc}}</p>
        
    </div>
    <div class="space"></div>
    <div>
        <p class="sign_number">已有<span>
                
                    {{info.addnums}}
                
            </span>人报名 ·限
            <span>{{info.nums}}</span>人报名</p>
        <p class="customer_price">￥ {{info.cpprice}}
        </p>
    </div>
    <div class="line"></div>
    <div class="address">
        <i class="fa fa-clock-o"></i>
        <p>{{info.address}}</p>
    </div>
    <div class="line"></div>
    <div class="time">
        <i class="fa fa-clock-o"></i>
        <p>{{info.stime|dateformat('Y-m-d H-i')}} 至 {{info.etime|dateformat('Y-m-d H-i')}}</p>
    </div>
    <div class="space"></div>
    <div class="introduction_box">
        <h3>详细介绍</h3>
        <div class="introduction_content">
            <div id="contentcmswing">
                <div class="tab-content">
                    {%set p = 1%} {%for val in info.content%}
                    <div class="tab-pane fade {% if p ==1 %} in active{%endif%}" id="page{{p}}">
                        {{val|safe}}
                    </div>
                    {% set p = p+1%} {%endfor%}
                </div>
                {%if info.content|length >1%}
                <!-- Pagination Default -->
                <div class="text-center">
                    <ul class="pagination">
                        {%set o = 1%} {%for val in info.content%}
                        <li {%if o==1 %}class="active" {%endif%}><a href="#page{{o}}" data-toggle="tab">{{o}}</a></li>
                        {% set o = o+1%} {%endfor%}
                    </ul>
                </div>
                {%endif%}
            </div>
        </div>
    </div>
    <div class="content" style="border: 2px;">
        <h3 class="header_title">{{info.title}}</h3>
        
    </div>
    <div class="header_banner" style="background-image: url({{info.fmurl}});margin-bottom: 20px;width:100%;height:250px;">
        <div >
            <img src="{{info.twourl}}" style="width:120px;height:120px;border:1px;margin-left: 60% ;margin-top: 10%" alt="hi" />
        </div>
    </div>
    
</div>
<input type="hidden" id="price" value="{{info.cpprice}}">
<div class="fix_back"></div>
<div class="sign_up_fix">
    <div class="sign_up_box">
        <!-- <a class="enter">进入店铺</a> -->
        <input type="button" class="sign_up" id="enroll_button" value="立即报名">
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="enroll_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3 class="text-center text-primary" id="modal_title">轻松两步，完成报名</h3>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 center-block" id="modal_body">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" id="user_name" placeholder="请输入你的姓名">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" id="user_phone" placeholder="请输入你的手机号">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-warning btn-lg btn-block" onclick="enroll_modal_button('{{docid}}')" id="enroll_btn">立即报名</button>
                    </div>
                </div>
                <div id="qr_code" class="hidden text-center">
                    <img class="img-thumbnail" width="100%" src="{{info.twourl}}">
                    <h2>请支付{{info.cpprice}}元</h2>
                </div>
                <div id="free_show" class="hidden text-center" style="height: 100px;line-height: 100px;background-color: #eeeeee">
                    <span style="font-size: 16px;color: #999999;">恭喜您已报名成功，稍后店家将会联系您。</span>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="pay_type" value="{{pay_type}}"> {% endblock %} {% block script %}
<script>
uParse('#contentcmswing', {
        rootPath: '/static/admin/js/udeitor/'
    })
    // var signPackage = !{JSON.stringify("{{signPackage}}")};
    // console.log(signPackage);
    // var signPackage = "{{signPackage}}";
console.log('{{signPackage.nonceStr}}');
console.log('{{signPackage.signature}}');
console.log('{{signPackage.timestamp}}');
</script>
{% endblock %}
