    <!-- #region Jssor Slider Begin -->
    <!-- <script src="js/jquery-1.11.3.min.js" type="text/javascript"></script> -->
    
    
    
    <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1140px;height:360px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" style="position:absolute;top:0px;left:0px;background:url('{{qiniu_dm}}/loading.gif') no-repeat 50% 50%;background-color:rgba(0, 0, 0, 0.7);"></div>
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1140px;height:360px;overflow:hidden;">
            {% topic data ="picturelist",limit="1",type="picture",cid=142,isstu=1,uid=userid%}
             
            {%if(picturelist[0])%}
            {%set plist=picturelist[0].pictureurls.split(',')%}
            {% for v in plist %}
            <div>
                <img data-u="image" src="{{v|get_pic('')}}" />
            </div>
            {%endfor%}
            {%else%}
            <div>
                <img data-u="image" src="{{qiniu_dm}}/shouye2.jpg" />
            </div>
            <div>
                <img data-u="image" src="{{qiniu_dm}}/shouye1.jpg" />
            </div>
            <div>
                <img data-u="image" src="{{qiniu_dm}}/shouye0.jpg" />
            </div>
            {%endif%}
            <!-- <div>
                <img data-u="image" src="{{qiniu_dm}}/03.jpg" />
            </div>
            <div>
                <img data-u="image" src="{{qiniu_dm}}/04.jpg" />
            </div> -->
            
            <a data-u="any" href="#" style="display:none">bootstrap slideshow</a>
        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb01" style="bottom:16px;right:16px;">
            <div data-u="prototype" style="width:12px;height:12px;"></div>
        </div>
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora05l" style="top:0px;left:8px;width:40px;height:40px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora05r" style="top:0px;right:8px;width:40px;height:40px;" data-autocenter="2"></span>
    </div>
    
    <!-- #endregion Jssor Slider End -->

