<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{controller.meta_title}} | {{controller.setup.WEB_SITE_TITLE}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    <!-- <link rel="stylesheet" href="/static/webapp/css/mui.min.css">
    <link rel="stylesheet" href="/static/webapp/css/app.css">
    <link rel="stylesheet" href="/static/webapp/fonts/iconfont.css"> -->
    <link rel="stylesheet" href="/static/admin/css/wechat/bootstrap.min.css">
    <link rel="stylesheet" href="/static/admin/css/wechat/weui.min.css">
    <link rel="stylesheet" href="/static/admin/css/wechat/jquery-weui.css">
    <link rel="stylesheet" href="/static/admin/css/wechat/base.css">
    <link rel="stylesheet" href="/static/admin/css/wechat/style.css">
    <link rel="stylesheet" href="/static/admin/css/wechat/all.css">
    <link rel="stylesheet" href="/static/admin/css/wechat/web_base.css">
    <link rel="stylesheet" href="/static/admin/css/wechat/manager.css">

    {% block style %}{% endblock %}
</head>

<body {%block bodyattr%} {%endblock%}>
{% block content %}
{% endblock%}
<script type="text/javascript" src="/static/admin/js/wechat/jquery-2.1.4.min.js"></script>
<script src="/static/webapp/js/mui.min.js"></script>
<script src="/static/webapp/libs/lodash.min.js"></script>
<!-- <script src="/static/webapp/libs/zepto.min.js"></script> -->

<script type="text/javascript" src="/static/admin/js/wechat/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/admin/js/wechat/bootstrap.min.js"></script>

<script src="/static/admin/js/udeitor/ueditor.parse.min.js"></script>
<script src="/static/admin/js/wechat/jquery-weui.min.js"></script>
<script src="/static/admin/js/wechat/enroll.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
{% block script %}{% endblock %}
</body>

</html>