
{% extends "./inc/yqx_base.html" %}
{% block content %}


   
    <!-- inject:vconsole -->
    <!-- endinject -->
    <div id="wapShareSet" class="wapShare" style="display:none"></div>

    <script class="eqx-script">
    var __isServerRendered = true;
    var scene = {
        infoid:463,
        id: 92922840,
        code: "lmeOWxwg",
        name: "99元女神卡123456",
        description: "美容模版",
        pageMode: 0,
        cover: "o_1bmblkj1qm9o4491tgjk1op6v9.png?imageMogr2/auto-orient/crop/!639x640a1a11",
        bgAudio: {
            "url": "f06c66628205716a4a1c620e62764f3b.mp3",
            "name": "春天的钥匙.mp3",
            "id": 405755
        },
        property: {
            "slideNumber": true,
            "autoFlip": false,
            "wxCount": 0,
            "shareDes": "{}",
            "wxClickFarmerCount": 0,
            "triggerLoop": true,
            "forbidHandFlip": false,
            "autoFlipTime": 3.0
        },
        createTime: 1501478998000,
        publishTime: 1501483180000,
        bizType: 0,
        type: 101,
        userId: "4a2d8af9538dbc3501538e01588b00a7",
        userType: "1",
        memberType: "",
        expiryTime: null,
        isTemplate: 0,
        dsAppId: "",
        loadingLogo: ""
    };
    </script>
    <!-- eqx-mobile -->
    <!-- eqx-end -->
    
{% endblock %}

