<html lang="zh-CN" class="pixel-ratio-1" adlesseunifierdata="[&quot;{\&quot;w\&quot;:false,\&quot;id\&quot;:\&quot;phahnhbgfdhgobenebnjbgmacgpbfaag\&quot;,\&quot;name\&quot;:\&quot;FastestTube\&quot;,\&quot;isComponentMode\&quot;:true}&quot;]">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>温馨提示</title>
    <!-- <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/mobile/weui.min.css">
    <link rel="stylesheet" href="/static/css/lib/jquery-weui.css">
    <link rel="stylesheet" href="/static/css/mobile/base.css">
    <link rel="stylesheet" href="/static/css/mobile/orderStyle.css"> -->

    <link rel="stylesheet" href="/static/admin/css/wechat/bootstrap.min.css">
    <link rel="stylesheet" href="/static/admin/css/wechat/weui.min.css">
    <link rel="stylesheet" href="/static/admin/css/wechat/jquery-weui.css">
    <link rel="stylesheet" href="/static/admin/css/wechat/base.css">
    
    <link rel="stylesheet" href="/static/admin/css/wechat/style.css">
    <link rel="stylesheet" href="/static/admin/css/wechat/all.css">
    <link rel="stylesheet" href="/static/admin/css/wechat/web_base.css">
    
    <link rel="stylesheet" href="/static/admin/css/wechat/manager.css">
    <!-- css 部分 -->
</head>

<body>
    <!-- content 部分 -->
    <div class="" id="loading">
        <!--   未购买用户跳转界面   -->
        <div class="weui_msg">
            <div class="weui_icon_area">
                <i class="weui_icon_waiting_circle weui_icon_msg"></i>
            </div>
            <div class="weui_text_area">
                <h2 class="weui_msg_title">温馨提示</h2>
                <p class="weui_msg_desc">登录中。。。</p>
            </div>
        </div>
    </div>
    

    <script type="text/javascript" src="/static/admin/js/wechat/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/wechat/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/admin/js/wechat/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/wechat/jquery-weui.min.js"></script>
    <!--[if lt IE 9]>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- <script type="text/javascript" src="/static/js/lib/html5shiv.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/respond.min.js"></script> -->
    <!--[endif]---->
    <!--[if lt IE 10]>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script type="text/javascript" src="/static/js/lib/ie10-viewport-bug-workaround.js"></script> -->
    <!--[endif]---->
    <!--[if lte IE 6]>
  <!-- bsie js 补丁只在IE6中才执行 -->
    <!-- <script type="text/javascript" src="/static/js/lib/bootstrap-ie.js"></script> -->
    <!--[endif]---->
    <!-- JavaScript 部分 -->
    <script type="text/javascript">
    $.showLoading("正在加载...");
    $(document).ready(function() {
        $("#loading").removeClass("hide");
        $.hideLoading();
    });
    </script>
    <div class="weui_mask_transparent" style="display: none;"></div>
    <div class="weui_toast weui_loading_toast">
        <div class="weui_loading">
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">正在加载...</p>
    </div>
</body>

</html>
