<!DOCTYPE html>
<html lang="en" class="app">
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <title>{{controller.meta_title}} </title>
    <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="baidu-site-verification" content="2MKKT6mbuL">
    <!-- <meta name="viewport" id="viewport" content="width=640,initial-scale=1,maximum-scale=1,user-scalable=no"> -->
    <meta name="robots" content="index, follow">
    <meta name="format-detection" content="telephone=no">
    <!-- no cache -->
    <meta http-equiv="cache-control" content="max-age=0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT">
    <meta http-equiv="pragma" content="no-cache">

    
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/yqx/css/iconfonts.min.css">
    <link rel="stylesheet" href="/static/yqx/css/yqx.min.css">
    <link rel="stylesheet" href="/static/admin/css/wechat/bootstrap.min.css">
    <style>
        #ewm_btns {
            position: absolute;
            left: 10px;
            top: 10px;
            z-index: 200;
            width: 50px;
            height: 50px;
            background-repeat: no-repeat;
            background-image: url(/static/kanjia/img/erweima.png);
        }
        #bm_btns {
            position: absolute;
            left: 10px;
            top: 50px;
            z-index: 200;
            width: 50px;
            height: 50px;
            background-repeat: no-repeat;
            background-image: url(/static/kanjia/img/erweima.png);
        }
        .qrtext{
            position: relative;z-index: 0
        }
        .qrtext p{
            position: absolute;
            margin-left: 130px;
            z-index: 10;
            font-size: 20px;
            margin-top: -250px;
        }
        .qrtext p1{
            position: absolute;
            margin-left: -90px;
            z-index: 20;
            font-size: 20px;
            margin-top: -300px;
        }
        .qrtext img {
            position: absolute;
            top: 0;left: 0;
            width: 100%;
            /*height: 500px;*/
            
            box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);
            /*margin: 20px;*/
            margin-top: 20px;
        }
        .qr {
            position: absolute;
            z-index: 30;
            box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);
            margin-left: 40%;
            margin-top: -200px;
        }
    </style>
    {% block style %}{% endblock %}
</head>

<body style="padding: 0">
<section class="vbox">
    <div id="loading" class="loading" style="display: none">
        <div class="loadbox">
            <div class="loadlogo"></div>
            <div class="loadbg"></div>
        </div>
        <div class="loading-tip">美媒课堂</div>
    </div>
    <div id="ewm_btns" >
    </div>
    <div id="bm_btns" >
    </div>
    <div id="myCanvas"  style="width: 414px; height: 545; ">
                    <div id="qr_code" class="text-center ">
                        <img class="img-thumbnail" width="100%" src="/static/kanjia/img/kanjiaewm2.png">
                        
                    </div>
                    <div class="qr"  id="wx_qr_modal_code">
                        
                    </div>
                    
                    <div class="qrtext" style="text-align: center;">
                            <p1>{{info.nickname}}正在参加活动</p1>
                            <p>&nbsp;&nbsp;快来参加吧</p>
                            <p style="margin-top: -40px;margin-left: 110px;">长按识别二维码参与</p>
                    </div>
                    
    </div>
    <div class="modal fade" id="wx_qr_modal" >
        <div class="modal-dialog" style="background-color: transparent;">
            <div class="modal-content" style="background-color: transparent;">
                <!-- <div class="modal-header" ">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                
                </div> -->
                <div class="modal-body">
                    <div style="text-align: center;background-color: #04be02;">
                            <p>1.长按保存图片</p>
                            <p>2.图片发圈通知朋友来参与</p>
                    </div>
                    <div >
                        <img  width="100%" id="down_button" >
                    </div>
                </div>
                <!-- <div class="modal-footer" style="text-align: center;">
                    <button type="button" class="btn btn-success" data-dismiss="modal" style="width: 80px;height: 40px">关闭</button>
                </div> -->
            </div>
            
        </div>
        
    </div>
    <div class="modal fade" id="enroll_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h3 class="text-center text-primary" id="modal_title">轻松两步，完成报名</h3>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12 center-block" id="modal_body">
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" id="user_name" placeholder="请输入你的姓名">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" id="user_phone" placeholder="请输入你的手机号">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-lg btn-block" onclick="myplayjoin('{{info.id}}','{{info.wxuid}}')" id="enroll_btn">立即报名</button>
                        </div>
                    </div>
                    <div id="qr_code_two" class="hidden text-center">
                        <img class="img-thumbnail" width="100%" src="{{info.twourl}}">
                        <h2>请支付{{info.cpprice}}元</h2>
                    </div>
                    <div id="free_show" class="hidden text-center" style="height: 100px;line-height: 100px;background-color: #eeeeee">
                        <span style="font-size: 16px;color: #999999;">恭喜您已报名成功，稍后店家将会联系您。</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    
</section>
<script >
    var HOST = window.eqxHOST = {
        DOMAIN: "ketang",
        FILE: "//ketang.gzxinbibo.com/static/yqx/img/",
        BIND_USER_FILE: "//ketang.gzxinbibo.com/static/yqx/img/",
        FREE_USER_FILE: "//ketang.gzxinbibo.com/static/yqx/img/",
        VIP_USER_FILE: "//ketang.gzxinbibo.com/static/yqx/img/"
    };
    window.eqxVersion = "4793d39",
        function() {
            function e() {
                return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini|Mobi/i.test(navigator.userAgent) || window.innerWidth < 500
            }

            function i() {
                var e = 1,
                    i = document.documentElement.clientWidth || 320,
                    n = document.documentElement.clientHeight || 486;
                e = i / n >= 320 / 486 ? n / 486 : i / 320;
                var o = "width=320, initial-scale=" + e + ", maximum-scale=" + e + ", user-scalable=no";
                document.getElementById("viewport").setAttribute("content", o)
            }
            var n = document.getElementById("loading"),
                o = window.scene;
            if (o) {
                var t = HOST.FILE;
                if (location.href.indexOf(HOST.DOMAIN) !== -1 || window.viewData || (t = HOST.BIND_USER_FILE), "/" != t.slice(-1) && (t += "/"), o.loadingLogo) {
                    var d = t + o.loadingLogo;
                    n.innerHTML = '<div class="loading-logo"><img src="' + d + '" class="logo-image"></div>'
                }
                if (o.cover) {
                    var a = document.createElement("img");
                    a.id = "shareImage", a.style.display = "none", a.src = t + o.cover, document.body.appendChild(a)
                }
            }
            e() && (i(), n.style.display = "block");
            for (var r = document.getElementsByClassName("yqx-script"), c = r.length, l = c - 1; l >= 0; l--) r[l].parentNode.removeChild(r[l])
        }();
    </script>
    <script src="/static/yqx/js/jquery.min.js"></script>
    <script src="/static/admin/js/wechat/bootstrap.min.js"></script>
    <script src="/static/admin/js/wechat/jquery.qrcode.min.js"></script>
    <script src="/static/yqx/js/yqx.min.js"></script>
    <script src="/static/yqx/js/depth.js" async></script>

    <script src="/static/kanjia/js/jquery.knob.js"></script>
    <script src="/static/kanjia/js/jquery.throttle.js"></script><!-- 
    <script src="/static/kanjia/js/jquery.classycountdown.js"></script>
    <script type="text/javascript" src="/static/admin/js/wechat/jquery.qrcode.min.js"></script> -->
    <script src="/static/kanjia/js/html2canvas.min.js" ></script>
    <script>
    $(function() {
        // function e() {
        //     var e = window.scene;
        //     if (e) {
        //         var t = "//da.eqxiu.com/c.gif?",
        //             n = window.screen,
        //             i = n.availWidth + "x" + n.availHeight,
        //             o = window.navigator,
        //             r = {
        //                 lag: o.userLanguage || o.language
        //             };
        //         r.event_description = e.description, r.event_id = e.id, r.scene_type = e.type, r.creator_id = e.userId, r.creator_type = e.userType;
        //         var a = "action_name=" + encodeURIComponent(document.title) + "&idsite=2&url=" + encodeURIComponent(document.location) + "&urlref=" + encodeURIComponent(document.referrer) + "&res=" + i + "&data=" + encodeURIComponent(JSON.stringify(r));
        //         a += "&cookie=" + (o.cookieEnabled ? 1 : 0), a += "&ct=" + (new Date).getTime(), t += a;
        //         var c = document.createElement("img");
        //         c.setAttribute("src", t), c.setAttribute("height", "0"), c.setAttribute("width", "0"), document.body.appendChild(c)
        //     }
        // }
        // e()
        $("#wx_qr_modal_code").qrcode({
            width: 150,
            height: 150,
            text: '{{wxhttp}}/uc/kanjia/yqx/id/{{info.id}}' 
        });
        
        console.log('myCanvas ok');
        html2canvas($("#myCanvas"), {
            onrendered: function(canvas) {
                $('#down_button').attr('src', canvas.toDataURL("image/png"));
                // $('#down_button').attr('download', 'myjobdeer.jpg');
                //$('#down_button').css('display','inline-block');
                // var html_canvas = canvas.toDataURL();
                // $.post('', {
                //     order_id: 1,
                //     type_id: 2,
                //     html_canvas: html_canvas
                // }, function(json) {
                //     // console.log('myCanvas ok');
                // }, 'json');
            }
        });
        setTimeout(function(){
            $("#myCanvas").css('display','none');
        },1000);
        $("#ewm_btns").click(function() {
            $("#wx_qr_modal").modal('show');
            // $("#qr_code_two").removeClass("hidden");
            // $("#enroll_modal").modal('show');
        });
        $("#bm_btns").click(function() {
            // $("#qr_code_two").removeClass("hidden");
            $("#enroll_modal").modal('show');
        });
        function qrcodeshow(){
            $("#qr_code_two").removeClass("hidden");
            $("#enroll_modal").modal('show');
        }
    })
    </script>
{% block script %}{% endblock %}
</body>
</html>




