<div class="col-lg-2 col-md-2 col-sm-4">
    <div class="thumbnail text-center avatar-view hide">
        <img src="/user/avatar" alt="{{controller.user.username}}" style="width: 100%" />
        <h2 class="size-18 margin-top-10 margin-bottom-0">{{controller.user.username}}</h2>
        <h3 class="size-11 margin-top-0 margin-bottom-10 text-muted">DEVELOPER</h3>
    </div>
    <!-- completed -->
    <div class="margin-bottom-30 hide">
        <label>88% completed profile</label>
        <div class="progress progress-xxs">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width: 88%; min-width: 2em;"></div>
        </div>
    </div>
    <!-- /completed -->
    <!-- SIDE NAV -->
    <ul class="side-nav list-group margin-bottom-60" id="sidebar-nav">
        <li class="list-group-item list-toggle {% if http.action == 'index' and http.controller == 'index' %}active{%endif%}">
        	<a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-10" ><i class="fa fa-home"></i> 用户主页</a>
        	<ul id="collapse-10" class="collapse in">
                <!-- NOTE: "collapse in" to be open on page load -->
                <li><a href="/myshop.html" class="{% if http.action == 'myshop' %}text-danger{%endif%}"><i class="fa fa-angle-right"></i> 我的店铺</a></li>
                <!-- /uc/publish/add/model_id/5/pid/0/cate_id/142/group_id/0/sortid/0 -->
                <li><a href="/mypicture" class="{% if http.action == 'mypicture' %}text-danger{%endif%}"><i class="fa fa-angle-right"></i> 店铺壁纸</a></li>
            </ul>
        </li>
        <li class="list-group-item list-toggle {% if http.action == 'publish' %}active{%endif%}">
            <!-- NOTE: "active" to be open on page load -->
            <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-0"><i class="fa fa-newspaper-o"></i> 项目管理</a>
            <ul id="collapse-0" class="collapse in">
                <!-- NOTE: "collapse in" to be open on page load -->
                <li><a href="/uc/publish/add/model_id/9/pid/0/cate_id/134/group_id/0/sortid/0" class="{% if http.action == 'publish' %}text-danger{%endif%}"><i class="fa fa-angle-right"></i> 项目制作</a></li>
                <li><a href="/mytuoke.html" class="{% if http.action == 'publish' %}text-danger{%endif%}"><i class="fa fa-angle-right"></i> 项目列表</a></li>
                <li><a href="/systuoke" class="{% if http.action == 'publish' %}text-danger{%endif%}"><i class="fa fa-angle-right"></i> 项目模版</a></li>
                <!-- <li><a href="/uc/publish/approval" class="{% if http.action == 'approval' %}text-danger{%endif%}"><i class="fa fa-angle-right"></i> 待审稿件</a></li> -->
            </ul>
        </li>
        {#
        {% if 4|getmode('')|length>0 %}
        <li class="list-group-item list-toggle {% if http.action == 'order' %}active{%endif%}">
            <!-- NOTE: "active" to be open on page load -->
            <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-1"><i class="fa fa-shopping-cart"></i> 交易管理</a>
            <ul id="collapse-1" class="collapse in">
                <!-- NOTE: "collapse in" to be open on page load -->
                <li><a href="/uc/order" class="{% if http.action == 'index' and http.controller == 'order'%}text-danger{%endif%}"><i class="fa fa-angle-right"></i> 我的订单</a></li>
                <li>
                    <a href="#"><i class="fa fa-angle-right"></i> 退款申请</a>
                </li>
                <li><a href="#"><i class="fa fa-angle-right"></i> 我的关注</a></li>
            </ul>
        </li>
        <li class="list-group-item list-toggle">
            <!-- NOTE: "active" to be open on page load -->
            <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-2"><i class="fa fa-server"></i> 客户服务</a>
            <ul id="collapse-2" class="collapse in">
                <!-- NOTE: "collapse in" to be open on page load -->
                <li class="{% if http.action == 'order' %}active{%endif%}"><a href="#"><i class="fa fa-angle-right"></i> 商品咨询</a></li>
                <li>
                    <a href="#"><i class="fa fa-angle-right"></i> 商品评价</a>
                </li>
                <li class="active"><a href="#"><i class="fa fa-angle-right"></i> 我的消息</a></li>
            </ul>
        </li>
        {%endif%}
        #}
        <li class="list-group-item list-toggle
			 {% if http.action == 'order'
			    or http.action == 'address'
			    or http.action == 'account'
			    or http.action == 'seting'
			 %}active{%endif%}">
            <!-- NOTE: "active" to be open on page load -->
            <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-3">
                <i class="fa fa-user"></i> 账户管理</a>
            <ul id="collapse-3" class="collapse in">
                <!-- NOTE: "collapse in" to be open on page load -->
                <li>
                    <a href="/uc/seting" class="{% if http.controller == 'seting' %}text-danger{%endif%}"><i class="fa fa-angle-right"></i> 个人设置</a></li>
                <li>
                    <a href="/uc/address" class="{% if http.controller == 'address' %}text-danger{%endif%}"><i class="fa fa-angle-right"></i> 收货地址</a>
                </li>
                <!-- <li><a href="#"><i class="fa fa-angle-right"></i> 我的优惠券</a></li> -->
                <li><a href="/uc/account" class="{% if http.controller == 'account' %}text-danger{%endif%}"><i class="fa fa-angle-right"></i> 账户金额</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> 我的二维码</a></li>
            </ul>
        </li>
        <li class="list-group-item"><a href="/uc/public/logout"><i class="fa fa-sign-out"></i> 退出登录</a></li>
    </ul>
    <!-- /SIDE NAV -->
   
    
   
</div>
